<div class="box">

<?php if (isset($form)): ?>	

	<h3>Login Form</h3>

	<?php
		$form->setAttribute('action', 'index');
		$form->prepare();
		echo $this->form()->openTag($form);
	?>

	<div class="container">
	  	<div class="row">
		    <div class="col-md-2 "><label>First Name</label></div>
		    <div class="col-md-10"><?= $this->formRow($form->get('firstname'))?></div>
		    <div class="col-md-2"><label>Surname</label></div>
		    <div class="col-md-10"><?= $this->formRow($form->get('surname'))?></div>
		    <div class="col-md-2"><label>E-Mail</label></div>
		    <div class="col-md-10"><?= $this->formRow($form->get('email'))?></div>
		</div>
		<div class="row">
		    <div class="col-md-12"><?= $this->formRow($form->get('submit'))?></div>
		</div>
	</div>

	<?php echo $this->form()->closeTag(); ?>

<?php else : ?> 

	<h3>Hallo <?= $data['firstname'] ?>!</h3>

<?php endif; ?>
</div>

